<!DOCTYPE html>
<html>
<head>
	<title>Add a Password Manager</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleAdd.css') }}">
</head>
<body>
	<h1>Add a Password Manager</h1>
	<form method="POST" action="/add-password-manager">
		{% if message %}
		<div class="alert alert-success">{{ message }}</div>
		{% endif %}

		<label for="name">Password Manager Name:</label>
		<input type="text" id="name" name="name" required><br><br>

		<label for="functionality_rating">Functionality Rating (between 0 and 10):</label>
		<input type="number" id="functionality_rating" name="functionality_rating" min="0" max="10" required><br><br>

		<label for="ease_of_use_rating">Ease of Use Rating (between 0 and 10):</label>
		<input type="number" id="ease_of_use_rating" name="ease_of_use_rating" min="0" max="10" required><br><br>

		<label for="safety_rating">Safety Rating (between 0 and 10):</label>
		<input type="number" id="safety_rating" name="safety_rating" min="0" max="10" required><br><br>

		<input type="checkbox" id="password_exchange" name="password_exchange" value="1">
		<label for="password_exchange">Password exchange across all your devices</label><br>
		<input type="checkbox" id="two_factor" name="two_factor_auth" value="1">
		<label for="two_factor">Two-factor authentication</label><br>
		<input type="checkbox" id="emergency_access" name="emergency_access" value="1">
		<label for="emergency_access">Emergency access</label><br>
		<input type="checkbox" id="document_vault" name="document_vault" value="1">
		<label for="document_vault">Document vault</label><br>
		<input type="checkbox" id="custom_location" name="custom_location" value="1">
		<label for="custom_location">Custom location password vault</label><br>
		<input type="checkbox" id="open_source" name="open_source" value="1">
		<label for="open_source">Open source</label><br><br>
		<input type="checkbox" id="direct_debit" name="direct_debit" value="1">
		<label for="direct_debit">Direct debit</label><br>
		<input type="checkbox" id="credit_card" name="credit_card" value="1">
		<label for="credit_card">Credit card</label><br>
		<input type="checkbox" id="ideal" name="ideal" value="1">
		<label for="ideal">iDeal</label><br>
		<input type="checkbox" id="paypal" name="paypal" value="1">
		<label for="paypal">PayPal</label><br><br>

		<input type="submit" value="Add Password Manager" id="add-password-btn">
	</form>
</body>
</html>